PasswordAuthentication no
PubkeyAuthentication no
KbdInteractiveAuthentication yes

AuthenticationMethods keyboard-interactive:pam

AllowUsers Usuario1
PermitRootLogin no

MaxAuthTries 3
PermitEmptyPasswords no
